@charset "UTF-8"; 
.box{
    width:200px;
    height:100px;    
    border-radius:25px;
    position:absolute;
    text-align:center;
    font-size:50px;
    line-height:93px;
}

#box1{
    font-family:kranky;
    background-color:yellow;
    }

#box2{
    background-color:blue;
    color:white;
    position:absolute;
    left:220px;
}

#box3{
    background-color:brown;
    color:white;
    position:absolute;
    left:440px;
}

#box4{
    background-color:green;
    color:white;
    position:absolute;
    left:660px;
            }

#box5{
    background-color:blue;
    color:white;
    position:absolute;
    left:880px;
}

#box6{
    font-family:kranky;
    background-color:yellow;
    position:absolute;
    left:1100px;
}

#rectangle{
    width:1300px;
    height:60px;
    border-color:black;
    background-color:yellow;
    border-radius:25px;
    position:absolute;
    top:120px;
}

#bigbox{
    width:600px;
    height:600px;
    background-color:green;
    position:absolute;
    top:200px;
    border:dashed;
}